<div class="post-wrapper">
                 {{post.message}}
                <br>
                <a href="#" class="show-comment-list" data-post-id={{post.id}}>show comments</a>
                <br>
</div>
<form class="comment-form" action="" method="post" role="form">
            {% csrf_token %}
                <input id="comment-input-{{post.id}}" class="comment-input" type="text" data-post-id={{post.id}} placeholder="Enter your comment here">
                <span><input type="submit" id="send-btn-{{post.id}}" class="send-btn" data-postid={{post.id}} value="go" disabled></span>
</form>
<ul id="comment-list-{{post.id}}" class="all-comment-list">
                
</ul>