{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block content %}
        <div ng-app = "myApp">
        {% verbatim %}
        <div class = "row">
            
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Django REST with Angular</div>
                    
                <!--<div class="pane-body" ng-controller="mainController">
                    <input type="text" class="form-control" ng-model="newPost" placeholder="Please enter something to post" required/>
                    
                    <input type="button" class="btn btn-success btn-block" ng-click="addMe()" value="Post"/>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat=" mypost in posts ">
                            {{ mypost.post }}
                        </li>
                    </ul>
                </div>
            </div>
            </div> -->
            <demo-directive></demo-directive>
           
            
            <div ng-view></div>
            
                 <div class = "col-md-4">
                     
            </div>
        
       
        {% endverbatim %}
        </div>
{% endblock %}

{% block scripts %}
            <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
            
            <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
            <script src = "{% static 'angular/app.js' %}"></script>

{% endblock %}
